@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
body {
  font-family: 'Montserrat';
}
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
body {
  overflow: scroll;
  margin-top: 20px;
  color: black;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse .92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse .92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse .92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse .92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

#canva{ 
  position:fixed;
}

.qr-code {
  border: 1rem solid #fff;
  width: 99%;
  height: auto;
}

textarea {
  min-height: 13.7rem;
}

.fadeIn {
  animation: .5s fadeIn;
}

html, body {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

canvas {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

svg {
  font: 4.5em 'Major Mono Display';
  width: 80%;
  height: 70px;
  margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: rgb(231, 231, 231);
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
stroke: rgb(238, 238, 238);
animation-delay: -1;
}

.text-copy:nth-child(2){
stroke: #dddddd;
animation-delay: -2s;
}

.text-copy:nth-child(3){
stroke: rgb(241, 241, 241);
animation-delay: -3s;
}

.text-copy:nth-child(4){
stroke: rgb(235, 235, 235);
animation-delay: -4s;
}

.text-copy:nth-child(5){
stroke: rgb(212, 212, 212);
animation-delay: -5s;
}

@keyframes stroke-offset{
100% {stroke-dashoffset: -35%;}
}